﻿<div ng-repeat="bar in bars" data-progress-bar value="{{bar.value}}" width="{{width}}"></div>
<select ng-model="selectedBar">
   <option ng-repeat="bar in bars" value="{{$index}}">progress {{$index + 1}}</option>
</select>
<button id="minus25" ng-click="decrement(25)">-25</button>
<button id="minus10" ng-click="decrement(10)">-10</button>
<button id="plus10" ng-click="increment(10)">+10</button>
<button id="plus25" ng-click="increment(25)">+25</button>